### Form990 Merging

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('../../data/Form990/20form990.xlsx')
df2 = pd.read_excel('../../data/Form990/21form990.xlsx')
df3 = pd.read_excel('../../data/Form990/22form990.xlsx')

KeyboardInterrupt:

In [5]:
embf_merged = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
embf_merged.shape

(1870199, 28)

In [6]:
embf_merged.to_csv('../../data/embf_merged.csv', index=False)

## Joining EIN and other related fields into form 990 data

In [4]:
form990 = pd.read_csv('../../data/22eoextract990.csv')
embf_merged = pd.read_csv('../../data/embf_merged.csv')

print(form990.shape)
print(embf_merged.shape)

(326123, 246)
(1870199, 28)

In [5]:
embf_merged.columns

Index(['EIN', 'NAME', 'ICO', 'STREET', 'CITY', 'STATE', 'ZIP', 'GROUP',
       'SUBSECTION', 'AFFILIATION', 'CLASSIFICATION', 'RULING',
       'DEDUCTIBILITY', 'FOUNDATION', 'ACTIVITY', 'ORGANIZATION', 'STATUS',
       'TAX_PERIOD', 'ASSET_CD', 'INCOME_CD', 'FILING_REQ_CD',
       'PF_FILING_REQ_CD', 'ACCT_PD', 'ASSET_AMT', 'INCOME_AMT', 'REVENUE_AMT',
       'NTEE_CD', 'SORT_NAME'],
      dtype='object')

In [8]:
#embf_merged['NTEE_CD'].head(20)
missing = embf_merged['NTEE_CD'].isnull().sum()
total = embf_merged.shape[0]
missing/total

0.3290537531032794

In [11]:
embf_merged['NTEE_CD'].head(20)

0      N65
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6     X21Z
7      NaN
8      NaN
9     O200
10     NaN
11     Y50
12     NaN
13     NaN
14     NaN
15     S81
16     NaN
17     NaN
18     NaN
19     NaN
Name: NTEE_CD, dtype: object

In [10]:
filtered_df = embf_merged[embf_merged['ACTIVITY'] == 0]
print(filtered_df.shape[0]/embf_merged.shape[0])

0.5999163725357569

In [13]:
# Left join
form990_embf = pd.merge(form990,embf_merged[['EIN', 'ACTIVITY','NTEE_CD','SUBSECTION','AFFILIATION']],  
                     on='EIN',  
                     how='left')  
print(form990_embf.columns)
print(form990_embf.shape)

Index(['efile', 'EIN', 'tax_pd', 'subseccd', 's501c3or4947a1cd', 'schdbind',
       'politicalactvtscd', 'lbbyingactvtscd', 'subjto6033cd',
       'dnradvisedfundscd',
       ...
       'grsinc509', 'unreltxincls511tx509', 'subtotsuppinc509',
       'netincunrelatd509', 'othrinc509', 'totsupp509', 'ACTIVITY', 'NTEE_CD',
       'SUBSECTION', 'AFFILIATION'],
      dtype='object', length=250)
(326123, 250)

In [14]:
# Standardize column names.
form990_embf.columns = [x.lower() for x in form990_embf.columns]

# Replace zeros with NaN for appropriate columns.

# Replace NaN with appropriate values accordingly.

# Convert columns to appropriate data types.
date_cols = ['tax_pd']
for col in date_cols:
    form990_embf[col] = form990_embf[col].astype(str).str.replace('\.0$', '', regex=True)
    form990_embf[col] = pd.to_datetime(form990_embf[col], format='%Y%m', errors='coerce')

# Drop duplicates by keeping last tax_pd date.
form990_embf = form990_embf.sort_values('tax_pd').drop_duplicates('ein',keep='last') 

# Convert dtype for appropriate columns.
form990_embf['ein'] = form990_embf['ein'].astype(str).str.replace('\.0$', '', regex=True)

form990_embf.head()

,efile,ein,tax_pd,subseccd,s501c3or4947a1cd,schdbind,politicalactvtscd,lbbyingactvtscd,subjto6033cd,dnradvisedfundscd,...,grsinc509,unreltxincls511tx509,subtotsuppinc509,netincunrelatd509,othrinc509,totsupp509,activity,ntee_cd,subsection,affiliation
148177,P,426057254,2011-06-01,2.0,N,N,N,NaN,N,N,...,0.0,0.0,0.0,0.0,0.0,0.0,36399000.0,NaN,2.0,3.0
14068,P,60891737,2011-10-01,5.0,N,N,N,NaN,N,N,...,0.0,0.0,0.0,0.0,0.0,0.0,232000000.0,K20,5.0,3.0
233203,P,660550623,2011-12-01,3.0,Y,Y,N,N,N,N,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,S20,3.0,3.0
168589,P,464039105,2012-06-01,3.0,Y,Y,N,N,N,N,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
32657,P,161696098,2012-12-01,3.0,Y,N,N,N,N,N,...,0.0,0.0,0.0,0.0,0.0,121247.0,0.0,T21,3.0,3.0

In [15]:
# Read out the file
form990_embf.to_csv('../../data/form990_embf.csv')